*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.999);
}

h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    line-height: 100vh;
}

span {
    opacity: 0;
    transition: all .5s ease;
    display: inline-block;
    transform: translate(50px);
    color: white;
}
span.fade{
    opacity: 1;
    transform: translate(0deg);
    color: cadetblue;
}
span:nth-child(5){
    margin-right: 10px;
}